.authView {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 600px;

    .btnContainer {
        display: flex;
        justify-content: space-evenly;
        width: 600px;

        button {
            color: white;
            width: 100px;
            height: 45px;
            border-radius: 20px;
            margin-top: 10px;
            align-self: center;
            cursor: pointer;
            border: none;

            &.usersBtn {
                background-color: #9457eb;

                &:hover {
                    background-color: #af92f9;
                }
            }

            &.signOutBtn {
                background-color: #04005e;

                &:hover {
                    background-color: #8f8bff;
                }
            }
        }
    }

    section {
        background-color: #9457eb;
        width: 600px;
        margin-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 25px;
        color: white;

        div {
            margin-left: 3rem;
            text-align: left;
            width: 100%;
        }

        ul {
            list-style-type: none;
        }
    }
}

.overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    background: rgb(168, 203, 228);
    padding: 4rem 2rem;

    span {
        font-size: 2rem;
        color: rgb(130, 80, 222);
        display: block;
    }

    button {
        margin-left: 12rem;
        display: block;
        color: white;
        width: 100px;
        height: 45px;
        border-radius: 20px;
        margin-top: 10px;
        align-self: center;
        cursor: pointer;
        border: none;
        background-color: #9457eb;
    }
}